<app-head
  [img1]="'assets/img/preschool/head.png'"
  [img2]="'assets/img/preschool/head2.png'"
>
  <h1 class="mainTitle" mainTitle>Найкращий садочок для вашої дитини</h1>
  <p class="mainp" mainp>
    Допомагаємо дитині пізнавати світ та розвивати комунікативні навички в
    ігровому форматі.
  </p>
  <div class="links" mainLinks>
    <a class="btn-blue pd-large">Детальніше</a>
    <a routerLink="/" class="btn-hollow pd-small">На головну</a>
  </div>
</app-head>
<section class="quotes nowrapQuotes" id="principles">
  <div class="container">
    <h2 class="title">Мета дошкільної освіти</h2>

    <div class="content">
      <div class="quote">
        <img src="/assets/img/preschool/samost.png" alt="" />
        <h3>Самостійність</h3>
        <p>
          Прагнемо привчити дитину до самоорганізації, допомогти пробудити у ній
          якості лідера.
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/comunic.png" alt="" />
        <h3>Комунікація</h3>
        <p>
          Вчимо спілкуватися з вчителями та однолітками, допомагаємо дітям
          розуміти один одного та батьків
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/compro.png" alt="" />
        <h3>Компроміси</h3>
        <p>Готуємо дитину до дорослого життя та вчимо йти назустріч іншим</p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/empat.png" alt="" />
        <h3>Емпатія</h3>
        <p>
          Розвиваємо почуття емпатії для побудови щирих стосунків з молодшими та
          дорослими
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/tvor.png" alt="" />
        <h3>Творчість</h3>
        <p>
          Розвиваємо творчі здібності у різноманітних гуртках: малювання,
          мистецтво хореографії
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/napoleg.png" alt="" />
        <h3>Наполегливість</h3>
        <p>
          Іти до своєї мети не дивлячись на труднощі, наполегливо вчитися щоб
          досягти успіху у житті
        </p>
      </div>
    </div>
  </div>
</section>
