<app-head
  [img1]="'assets/img/preschool/head.png'"
  [img2]="'assets/img/preschool/head2.png'"
>
  <h1 class="mainTitle" mainTitle>Найкращий садочок для вашої дитини</h1>
  <p class="mainp" mainp>
    Допомагаємо дитині пізнавати світ та розвивати комунікативні навички в
    ігровому форматі.
  </p>
  <div class="links" mainLinks>
    <a fragment="principles" routerLink="/preschool" class="btn-blue pd-large"
      >Детальніше</a
    >
    <a routerLink="/" class="btn-hollow pd-large-hollow">На головну</a>
  </div>
</app-head>
<section class="quotes nowrapQuotes" id="principles">
  <div class="container">
    <h2 class="title">Мета дошкільної освіти</h2>

    <div class="content">
      <div class="quote">
        <img src="/assets/img/preschool/samost.png" alt="" />
        <h3>Самостійність</h3>
        <p>
          Прагнемо привчити дитину до самоорганізації, допомогти пробудити у ній
          якості лідера.
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/comunic.png" alt="" />
        <h3>Комунікація</h3>
        <p>
          Вчимо спілкуватися з вчителями та однолітками, допомагаємо дітям
          розуміти один одного та батьків
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/compro.png" alt="" />
        <h3>Компроміси</h3>
        <p>Готуємо дитину до дорослого життя та вчимо йти назустріч іншим</p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/empat.png" alt="" />
        <h3>Емпатія</h3>
        <p>
          Розвиваємо почуття емпатії для побудови щирих стосунків з молодшими та
          дорослими
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/tvor.png" alt="" />
        <h3>Творчість</h3>
        <p>
          Розвиваємо творчі здібності у різноманітних гуртках: малювання,
          мистецтво хореографії
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/preschool/napoleg.png" alt="" />
        <h3>Наполегливість</h3>
        <p>
          Іти до своєї мети не дивлячись на труднощі, наполегливо вчитися щоб
          досягти успіху у житті
        </p>
      </div>
    </div>
  </div>
</section>
<section id="crew">
  <div class="container">
    <h2 class="title">Вихователі</h2>
    <div class="crew">
      <div class="card">
        <img src="/assets/img/educators/1.png" alt="" />
        <p class="category">Вища категорія</p>
        <p class="name">Буц Валентина Василівна</p>
        <p class="role">Вихователь</p>
      </div>
      <div class="card">
        <img src="/assets/img/educators/2.png" alt="" />
        <p class="category">Спеціаліст</p>
        <p class="name">Хилевич Оксана Вікторівна</p>
        <p class="role">Вихователь</p>
      </div>
      <div class="card">
        <img src="/assets/img/educators/3.png" alt="" />
        <p class="category">Спеціаліст</p>
        <p class="name">Кошелева Світлана Павлівна</p>
        <p class="role">Вихователь</p>
      </div>
      <div class="card">
        <img src="/assets/img/educators/4.png" alt="" />
        <p class="category">Вища категорія</p>
        <p class="name">Мовчан Галина Дмитріївна</p>
        <p class="role">Музичний керівник</p>
      </div>
      <div class="card">
        <img src="/assets/img/educators/5.png" alt="" />
        <p class="category">Перша категорія</p>
        <p class="name">Пушкар Наталія Станіславівна</p>
        <p class="role">Вихователь</p>
      </div>
      <div class="card">
        <img src="/assets/img/educators/6.png" alt="" />
        <p class="category">Вища категорія</p>
        <p class="name">Козієнко Наталія Олександрівна</p>
        <p class="role">Вихователь</p>
      </div>
      <div class="card">
        <img src="/assets/img/educators/7.png" alt="" />
        <p class="category">Вища категорія</p>
        <p class="name">Когда Іскрина Іванівна</p>
        <p class="role">Вихователь</p>
      </div>
      <div class="card">
        <img src="/assets/img/educators/8.png" alt="" />
        <p class="category">&nbsp;</p>
        <p class="name">Верещагіна Тетяна Валентинівна</p>
        <p class="role">Медична сестра</p>
      </div>
    </div>
  </div>
</section>
<section id="how">
  <div class="container">
    <div class="how">
      <div class="col">
        <h2 class="title">Як подати документи онлайн?</h2>
        <img src="/assets/img/preschool/rect.png" alt="" />
      </div>
      <div class="col">
        <div class="row">
          <span class="number">01</span>
          <div class="step">
            <h3>Зареєструватися</h3>
            <p>
              Потрібно створити свій особистий кабінет на
              <a target="blank" href="https://osvita.kyivcity.gov.ua/"
                >Порталі дошкільної освіти</a
              >
            </p>
          </div>
        </div>
        <div class="row">
          <span class="number">02</span>
          <div class="step">
            <h3>Отримати запрошення</h3>
            <p>
              У особистому кабінеті підтвердити запрошення до дитячого садка
              «Поділля»
            </p>
          </div>
        </div>
        <div class="row">
          <span class="number">03</span>
          <div class="step">
            <h3>Надати документи</h3>
            <p>Необхідні наступні документи:<br /><br /></p>
            <p>
              -свідотство про народження дитини та копію<br />-копію
              ідентифікаційного коду.<br />-копію першої сторінки паспорта
              одного з батьків
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-carousel [images]="images"></app-carousel>
