#location {
  .location {
    margin-bottom: max(60px, 7rem);
    margin-top: max(20px, 4.5rem);
    display: flex;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    .map {
      iframe {
        width: clamp(320px, 45rem, 650px);
        height: clamp(220px, 31rem, 445px);
      }
    }
    .address {
      display: flex;
      align-items: center;
      justify-content: center;
      width: clamp(166px, 31.25rem, 450px);
      height: clamp(166px, 31.25rem, 450px);
      border-radius: 50%;
      background-color: #ffe86e;
      span {
        font-size: clamp(14px, 2.1rem, 30px);
        line-height: 115%;
        text-align: center;
      }
    }
  }
}
footer {
  width: 100%;
  min-width: fit-content;
  background-color: #3e44e6;
  padding: 70px 0;
  color: #fbfbfb;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 30px;
    flex-wrap: wrap;
    .col {
      display: flex;
      flex-direction: column;
      .text {
        font-size: clamp(14px, 1.25rem, 18px);
        line-height: 115%;
      }
      .email {
        font-weight: bold;
        font-size: clamp(30px, 2.43rem, 34px);
        line-height: 115%;
        color: #ffe86e;
      }
      .info {
        display: flex;
        font-weight: bold;
        font-size: clamp(12px, 1.1rem, 16px);

        line-height: 115%;

        .col:first-of-type {
          margin-right: 40px;
          min-width: 132px;
        }
        span:first-of-type {
          margin-top: 0;
        }
        span {
          max-width: 178px;
          margin-top: 10px;
        }
      }
      .designedAt {
        font-weight: bold;
        font-size: 22px;
        line-height: 115%;
        text-transform: uppercase;
        max-width: 190px;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}
@media screen and (max-width: 826px) {
  footer {
    .container {
      .col {
        .designedAt {
          max-width: none;
        }
      }
    }
  }
}
