<section id="location">
  <div class="container">
    <h2 class="title">Як нас знайти?</h2>
    <div class="location">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d634.8352663266664!2d30.513524541392115!3d50.471993972895326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce13ed74112d%3A0x902920552f67da9e!2z0YPQuy4g0KnQtdC60LDQstC40YbQutCw0Y8sIDQzLCDQmtC40LXQsiwgMDQwNzE!5e0!3m2!1sru!2sua!4v1632674154685!5m2!1sru!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="address">
        <span>Укрaїна, Київ вулиця Щекавицька 25, 43</span>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="col">
      <span class="text">Контакти</span>
      <p class="email">podilllia@ukr.net</p>
    </div>
    <div class="col">
      <div class="info">
        <div class="col">
          <span><a routerLink="/elementary">Початкова школа</a> </span>
          <span><a routerLink="/preschool">Дошкільний підрозділ</a> </span>
        </div>
        <div class="col">
          <span>Україна, Київ вулиця Щекавицька 43</span>
          <span>(066) 737 04 31</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="designedAt">
        <a target="blank" href="https://www.katrukdesign.com/"
          >Designed AT Katruk Design</a
        >
      </div>
    </div>
  </div>
</footer>
