<app-head
  [img1]="'assets/img/elementary/head.png'"
  [img2]="'assets/img/elementary/head2.png'"
>
  <h1 class="mainTitle" mainTitle>Початкова школа для впевненого старту</h1>
  <p class="mainp" mainp>
    Даємо не просто теорію, а й практичні навички, що допоможуть у подальшому
    житті.
  </p>
  <div class="links" mainLinks>
    <a class="btn-blue pd-large">Детальніше</a>
    <a routerLink="/" class="btn-hollow pd-small-hollow">На головну</a>
  </div>
</app-head>
<section class="quotes nowrapQuotes" id="principles">
  <div class="container">
    <h2 class="title">Ключові компетенціі</h2>

    <div class="content">
      <div class="quote">
        <img src="/assets/img/elementary/ukrmova.png" alt="" />
        <h3>Українська мова</h3>
        <p>
          Володіння державною мовою —уміння висловлювати свої думки та
          пояснювати факти у будь-якій формі
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/elementary/social.png" alt="" />
        <h3>Соціальність</h3>
        <p>
          Вчимо правильно взаємодіяти та співпрацювати з іншими, а також
          цінувати людей навколо себе
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/elementary/dopit.png" alt="" />
        <h3>Допитливість</h3>
        <p>
          Звичка спостерігати та досліджувати, формулювати припущення і робити
          висновки.
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/elementary/math.png" alt="" />
        <h3>Математика</h3>
        <p>
          Виявлення простих математичних залежностей в навколишньому світі та
          роль математики у житті
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/elementary/eco.png" alt="" />
        <h3>Екологія</h3>
        <p>
          Основи екології: вивчення правил для збереження природи та їх
          практичне застосування
        </p>
      </div>
      <div class="quote">
        <img src="/assets/img/elementary/innova.png" alt="" />
        <h3>Інноваційність</h3>
        <p>
          Відкритість до нових ідей, яка забезпечує подальшу здатність успішно
          навчатися
        </p>
      </div>
    </div>
  </div>
</section>
<section id="crew">
  <div class="container">
    <h2 class="title">Викладацький склад</h2>
    <div class="crew">
      <div class="card">
        <img src="/assets/img/teachers/1.png" alt="" />
        <p class="category">Вища категорія</p>
        <p class="name">Рубцова Галина Миколаївна</p>
        <p class="role">Директор</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/2.png" alt="" />
        <p class="category">Вища категорія</p>
        <p class="name">Король Ольга Ігорівна</p>
        <p class="role">Вчитель початкових класів</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/3.png" alt="" />
        <p class="category">Перша категорія</p>
        <p class="name">Без Валентина Анатоліївна</p>
        <p class="role">Вихователь ГПД</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/4.png" alt="" />
        <p class="category">Вища категорія</p>
        <p class="name">Міцне Ірина Миколаївна</p>
        <p class="role">Вчитель початкових класів</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/5.png" alt="" />
        <p class="category">Перша категорія</p>
        <p class="name">Муха Лілія Федорівна</p>
        <p class="role">Вчитель англійскої мови</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/6.png" alt="" />
        <p class="category">Перша категорія</p>
        <p class="name">Злиденна Тетяна Петрівна</p>
        <p class="role">Вчитель початкових класів</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/7.png" alt="" />
        <p class="category">Перша категорія</p>
        <p class="name">Фарапон Світлана Миколаївна</p>
        <p class="role">Вчитель початкових класів</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/8.png" alt="" />
        <p class="category">Перша категорія</p>
        <p class="name">Лисенко Валерія Євгенівна</p>
        <p class="role">Вчитель інформатики</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/9.png" alt="" />
        <p class="category">Перша категорія</p>
        <p class="name">Янок Тетяна Петрівна</p>
        <p class="role">Вчитель початкових класів</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/10.png" alt="" />
        <p class="category">Друга категорія</p>
        <p class="name">Борук Алла Михайлівна</p>
        <p class="role">Вчитель початкових класів</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/11.png" alt="" />
        <p class="category">Друга категорія</p>
        <p class="name">Сагайдак Олена Сергіївна</p>
        <p class="role">Вихователь ГПД</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/12.png" alt="" />
        <p class="category">Друга категорія</p>
        <p class="name">Заїка Оксана Олександрівна</p>
        <p class="role">Вчитель англійскої мови</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/13.png" alt="" />
        <p class="category">Спеціаліст</p>
        <p class="name">Андреевна Ольга Сергіївна</p>
        <p class="role">Вчитель німецької мови</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/14.png" alt="" />
        <p class="category">Спеціаліст</p>
        <p class="name">Творовська Ганна Борисівна</p>
        <p class="role">Вихователь ГПД</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/15.png" alt="" />
        <p class="category">Спеціаліст</p>
        <p class="name">Шкребтій Вікторія Андріївна</p>
        <p class="role">Вчитель хореографії</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/16.png" alt="" />
        <p class="category">Спеціаліст</p>
        <p class="name">Однострій Тамара Михайлівна</p>
        <p class="role">Вихователь ГПД</p>
      </div>
      <div class="card">
        <img src="/assets/img/teachers/17.png" alt="" />
        <p class="category">Вища категорія</p>
        <p class="name">Стрільчук Тіна Миколаївна</p>
        <p class="role">Психолог</p>
      </div>
    </div>
  </div>
</section>
<section id="directions">
  <div class="container">
    <h2 class="title">Активні розваги та творчі напрямки</h2>
    <div class="reversed">
      <div class="areas">
        <div class="area">
          <h3>Малювання</h3>
          <p class="descr">
            Через творчість дитина виражає емоції, пізнає навколишній світ.
          </p>
        </div>
        <div class="area">
          <h3>Акробатика</h3>
          <p class="descr">
            Акробатика розвиває всі групи м’язів, гнучкість, координацію рухів.
          </p>
        </div>
        <div class="area">
          <h3>Позитивчик</h3>
          <p class="descr">
            Гурток розвиває дітей фізично, активні вправи зміцнюють імунітет
          </p>
        </div>
        <div class="area">
          <h3>Scratch</h3>
          <p class="descr">
            Scratch, призначений для навчання школярів основам програмування
          </p>
        </div>
        <div class="images">
          <img src="/assets/img/elementary/rect.png" alt="" />
          <img src="/assets/img/elementary/circle.png" alt="" />
          <img src="/assets/img/elementary/triag.png" alt="" />
          <img src="/assets/img/elementary/circle.png" alt="" />
          <img src="/assets/img/elementary/rect.png" alt="" />
        </div>
      </div>
      <img class="poster" src="/assets/img/elementary/directions.png" alt="" />
    </div>
  </div>
</section>
<app-carousel [images]="list"></app-carousel>
