section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  row-gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 100px;
  .image {
    width: 40%;
    min-width: 310px;
  }
  .text {
    max-width: 550px;
    .parag {
      margin-top: 16px;
    }
  }
}
