header {
  height: 100vh;
  min-height: 800px;
  margin-bottom: 90px;
  .headContainer {
    position: relative;
    height: 100%;
    .banner {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
      width: 50%;
      min-width: 400px;
      max-height: 1000px;
    }
    .banner2 {
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      z-index: 0;
      width: 60%;
      min-width: 350px;
    }
    nav {
      position: relative;
      z-index: 2;
      padding: 46px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .links {
        display: flex;
        margin-right: 40px;
        .link {
          &:first-of-type {
            margin-right: 34px;
          }
          font-weight: 600;
          font-size: 18px;
          line-height: 125%;
        }
      }
      .phone {
        font-weight: bold;
        font-size: 20px;
        line-height: 125%;
        color: #fbfbfb;
      }
      .menu {
        display: none;
        cursor: pointer;
      }
    }
  }
  .mobileMenu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 999;
    transition: 0.3s;
    height: 0%;
    // height: 100%;
    overflow: hidden;
    .container {
      height: 100%;
      .content {
        height: 100%;
        padding-top: 46px;
        display: flex;
        flex-direction: column;
        .close {
          width: 28px;
          align-self: end;
          margin-bottom: 49px;
        }
        .mobileLink {
          font-weight: bold;
          font-size: 24px;
          line-height: 110%;
          margin-bottom: 16px;
          color: #2b2b2b;
        }
        .contacts {
          margin-top: auto;
          margin-bottom: 240px;
          p {
            font-weight: bold;
            font-size: 24px;
            line-height: 115%;
            margin-bottom: 16px;
            color: #3e44e6;
          }
        }
      }
    }
  }
}
@media screen and(max-width:824px) {
  header {
    .mobileMenu {
      display: block;
    }
    .container {
      .banner {
        display: none;
      }
      .banner2 {
        display: block;
      }
      nav {
        .links,
        .phone {
          display: none;
        }
        .menu {
          display: block;
        }
      }
    }
  }
}
